---
layout: layout.njk
title: Tags
---
<!-- need to edit layout when the njk is done.
 may need to make a separate njk for tag page template-->

<h1>All Tags</h1>

<ul>
{% for tag in collections | keys | sort %}
  {% if tag != "all" %}
    <li>
      <a href="/tags/{{ tag | slug }}/">
        #{{ tag }} ({{ collections[tag].length }})
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
